run = "/nix/store/zdba9frlxj2ba8ca095win3nphsiiqhb-python3-3.10.8/bin/python3 main.py"
entrypoint = "main.py"
modules = ["python-3.11"]

[nix]
channel = "stable-22_11"

[deployment]
run = ["sh", "-c", "/nix/store/zdba9frlxj2ba8ca095win3nphsiiqhb-python3-3.10.8/bin/python3 main.py"]
deploymentTarget = "cloudrun"

[[ports]]
localPort = 3000
externalPort = 80

[[ports]]
localPort = 8080
externalPort = 8000

[env]
PYTHONPATH = "${PYTHONPATH}:${REPL_HOME}/.pythonlibs/lib/python3.10/site-packages"
