torch --extra-index-url https://download.pytorch.org/whl/cpu
transformers
sentence-transformers
fastapi
uvicorn
aiohttp
opencv-python-headless
pinecone
pinecone-client
python-multipart
python-dotenv
groq
numpy
scipy
soundfile
moviepy
