fastapi
uvicorn
aiohttp
opencv-python-headless
pinecone
pinecone-client
python-multipart
python-dotenv
groq
transformers
sentence-transformers
--extra-index-url https://download.pytorch.org/whl/cpu
torch
numpy
scipy
soundfile
moviepy